* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.max-width-wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 24px;
}

header,
.card {
  border-bottom: 8px solid hsl(0deg 0% 40%);    
}

.intro-chunk {
  max-width: 400px;
  margin: 96px 0 48px;
}

.intro-chunk strong {
  font-weight: 700;
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg 0% 60%);
  padding: 48px 0;
}

.card {
  background-color: hsl(0deg 0% 100%);
  padding: 24px;
  margin: -24px;
}

main .indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin: -16px 0 0 -32px;
  padding: 16px 32px;
  width: fit-content;
}

.intro-chunk p:last-child,
.card p:last-child {
  margin-bottom: 0;
}
